.tour-list {
  /* background-color: #fafafa; */
  border-radius: 0.3rem;
}

.tour-group-by-source {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.vertical-tour-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 0.5px #d1d1d1;
  border-radius: 0.3rem;
  padding: 1rem;
  background-color: #fff;
  width: 16rem;
  height: 23rem;
  position: relative
}

.vertical-tour-card:hover,
.horizontal-tour-card:hover {
  box-shadow: 5px 3px 0.7rem #bfbfbf;
}

.vertical-tour-card img {
  width: 15rem;
  height: 12rem;
  border-radius: 0.4rem;
  object-fit: cover;
  object-position: 50% 50%;
}
.vertical-tour-card .content {
  padding-bottom: 1rem;
}
.vertical-tour-card .price {
  position: absolute;
  bottom: 0;
  right: 1rem;
}
.horizontal-tour-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 0.5px #d1d1d1;
  border-radius: 0.3rem;
  padding: 1rem;
  background-color: #fff;
  width: 40rem;
  gap: 2rem
}

.horizontal-tour-card img {
  width: 20rem;
  height: 10rem;
  object-fit: fill;
  border-radius: 0.4rem;

}
.horizontal-tour-card .content {
  width: 20rem;
}
.price {
  font-size: 1.2rem;
}
.see-more-link {
  color: #ffcc00e5;
  text-decoration: none;
  padding: 0 1rem;
  border: transparent 1px dashed;
}

.see-more-link:hover {
  color: #ffcc00e5;
  border: black dashed 1px;
  border-radius: 0.5rem;
  font-weight: 600;
}

.tour-link {
  color: black
}

.tour-link:hover {
  color: #ffcc00e5
}
.price {
  color: rgb(255, 185, 56);
  font-weight: bold
}